{% extends 'base.html.twig' %}

{% block title %}CartType index{% endblock %}

{% block body %}
    <h1>CartType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart_type in cart_types %}
            <tr>
                <td>{{ cart_type.id }}</td>
                <td>{{ cart_type.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('cart_type_show', {'id': cart_type.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('cart_type_edit', {'id': cart_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('cart_type_new') }}">Create new</a>
{% endblock %}
