{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <h1>Product</h1>
            </div>
            
            {% if app.user %}
            <div class="col-md-3 col-md-offset-2">
                <a class="btn btn-warning btn-lg btn-block" href="{{ path('item_edit', {'id': item.id}) }}">Edit</a>
            </div>
            {% endif %}
        </div>
    </div>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ item.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="100%" height="50%" src="{{ asset('uploads/' ~ item.image) }}" alt=""></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
